*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
body{
    background-color: rgb(81, 121, 121);
    display: flex;
    align-items: center;
    justify-content: center;
}
#car{
    width: 300px;
    height: 400px;
    background-color: #fff;
    border-radius: 10px;
    border: 3px solid black;
    position: relative;
    

}
#fullscreen{
    height: 100%;
    width: 100%;
    /* background-color: red; */
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    display: none;
    background-position: center;
    background-size: cover;
    transition: opacity 0.3s ease;
}
.storiyan{
    width: 100%;
    height: 100px;
    border-bottom: 1px solid rgb(178, 176, 176);
    padding: 10px;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}
.storiyan::-webkit-scrollbar{
    display: none;
}
.story{
    height: 70px;
    width: 70px;
    border: 3px solid red;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
    margin-right: 8px;
}
.story img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}