*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Clock Container Styling */
.clock-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #002252; 
  color: #ffffff; /* White text */
  font-family: 'Courier New', monospace; /* Digital font look */
}

/* Time Styling */
#clock {
  font-size: 60px;
  font-weight: bold;
  margin: 10px 0;
  color: #eea731;
}

/* Date Styling */
#date {
  font-size: 22px;
  opacity: 0.9;
}
