body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #002252;
}

.quiz-container {
  width: 400px;
  background: #eea731;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  text-align: center;
}

h2 {
  margin-bottom: 20px;
}

.btn {
  display: block;
  width: 100%;
  margin: 8px 0;
  padding: 10px;
  border: none;
  border-radius: 8px;
  background: #007BFF;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s;
}

.btn:hover {
  background: #0056b3;
}

#next-btn, #start-btn {
  display: none;
  margin-top: 10px;
  padding: 10px;
}

#start-btn {
  background: #17a2b8;
}

#next-btn {
  background: #28a745;
}

#result {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
}
