body {
  font-family: Arial, sans-serif;
  background: #111;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.todo-container {
  background: #1e1e1e;
  padding: 20px;
  width: 300px;
  border-radius: 8px;
}
h2 {
  text-align: center;
}

input {
  width: 75%;
  padding: 8px;
  border: none;
  outline: none;
}

button {
  padding: 8px;
  border: none;
  cursor: pointer;
}
ul {
  list-style: none;
  padding: 0;
  margin-top: 15px;
}

li {
  background: #333;
  padding: 8px;
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
li.completed span {
  text-decoration: line-through;
  color: gray;
}

.delete {
  background: red;
  color: white;
  padding: 4px 6px;
  border-radius: 4px;
}
